body{
    font-family: 'Montserrat-Black', sans-serif;
}   
#title{
background-color: #ff4c68;
}

h1{
    font-family: 'Montserrat-Black', sans-serif;
    font-weight: 900;
    font-size: 4rem;
    line-height: 1.5;
    color: white;
}
h3{
    font-family: 'Montserrat-Black';
    font-weight: 900;
}
p{
    color: #8f8f8f;
}

.container-fluid{
    padding: 3% 15%;
}


/* Nav bar */

.navbar{
    padding-bottom: 4.5rem;
}

.navbar-brand{
    font-size: 2rem;
    font-weight: bold;
    font-family: Ubuntu;
    /* margin-right: 1rem; */
}
.nav-item{
   padding:0 18px;
   font-size: 1.2rem;
   font-weight: Montserrat-light;

}

/* title */
.title-img{
    width: 60%;
    transform: rotate(10deg);
    margin-left: 2rem;
}
.download-button{
    margin: 5% 1%;
}

/* features */
#features{
    /* height: 100vh; */
    padding: 10% 10%;
    
}

.features-section{

   text-align: center;
    margin: 0 auto;
    
}
.features-box{
    padding: 10%;
}
.features-icons{
    display: flex;
    justify-content: center;
    padding-bottom: 2rem;
    color: #ef8172;
}
.features-icons:hover{
    color:#ff4c68;
}
.center{
    text-align: center;
}